<nav id="editor_tabs" class="group">
  <%= link_to "Add Field", "#", class: "editor_tab" %>
  <%= link_to "Field Settings", "#", class: "editor_tab" %>
  <%= link_to "Form Settings", "#", class: "editor_tab" %>
</nav>