<nav id="editor_tabs" class="group">
  <% tabs = %w{add_field field_settings form_settings} %>

  <% tabs.each do |tab| %>

    <%= link_to tab.split('_').map(&:capitalize).join(" "),
          form_editor_url(params.merge(editor_tab: tab)),
          class: "editor_tab" %>

  <% end %>
</nav>