<section id="home_page">
	<h2>Welcome to <span class="app_name">FormCraft</span>!</h2>

	<p>
	  This app lets you create custom online forms using a simple drag and drop interface.
	</p>

	<p>
	  We host the form here on this site and handle all of the technical details. Just share the link to your form and anyone can view and submit it!
	</p>

	<p>
	  You can choose how you want to receive your form results. View it on this site, download it, or receive it by email!
	</p>

	<h3>Get Started</h3>

	<nav id="get_started_nav">
	  <%= button_to "Sign In", signin_url, method: :get %>
	  <%= button_to "Sign Up", signup_url, method: :get %>
	  <%= button_to "Guest", form_editor_url, method: :get %>
	</nav>
</section>