<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recover your FormCraft account</h1>

    <p>Your username is: <%= @user.username%></p>
    <p>To reset your password, please follow this link:</p>
    <p><%= link_to @recovery_url, @recovery_url %></p>
  </body>
</html>