<h2>Form Editor</h2>
<h3><%= @mode.capitalize %> Mode</h3>

<div id="form_editor" class="group">
  <div id="editor_window">
    <p></p>
  </div>

  <div id="preview_window">
    <h4><%= @form.title %></h4>
  </div>
</div>