<h2>Form Editor</h2>

<div id="form_editor" class="group">
  <div id="editor_window">
    <nav id="editor_tabs" class="group"></nav>
    <div id="editor_view"></div>
  </div>

  <div id="preview_window">
    <nav id="form_controls" class="group">
      <button id="save_btn" class="form_btn">Save</button>
      <button id="discard_btn" class="delete_btn form_btn">Discard</button>
    </nav>
    <div id="preview_view"></div>
  </div>
</div>



<script type="application/json" id="form_editor_json">
  { "form": <%= @form.to_json.html_safe %>,
    "mode": <%= @mode.to_json.html_safe %>,
    "editorTab": <%= @editor_tab.to_json.html_safe %>,
    "fieldTypes": <%= @field_types.to_json.html_safe %> }
</script>

<script>
  $(document).ready(function(){
    FormBuilder.initialize();
  });
</script>