#form_editor {
  border: 1px solid lightgray;
  width: 958px;
  position: relative;
}

#editor_window {
  background: #dfdfdf;
  width: 360px;
  min-height: 500px;
  float: left;
  position: relative;
}

#preview_window {
  background: white;
  width: 578px;
  min-height: 480px;
  padding: 10px;
  float: left;
  position: relative;
}

#editor_tabs {
  background: white;
}

.editor_tab {
  float: left;
  width: 118px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;

  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
}

.active_tab {
  background-color: #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

#editor_view {
  padding: 10px;
}

.field_type {
  margin-bottom: 10px;
}

.field_type_field {
  float: left;
  padding: 5px;
  border: 1px dashed gray;
}

.field_type_field:hover {
  border-style: solid;
}

.form_btn {
  margin-right: 10px
}

button.delete_btn {
  background-color: #f88;
}

button.delete_btn:hover {
  background-color: red;
}

.field_type_btn {
  margin-left: 10px;
  float: right;
}

.preview_field {
  border: 1px solid transparent;
  padding: 5px 0;
}

.preview_field:hover {
  border: 1px dashed black;
}

.active_field {
  background: #ff8;
}

.field_slot {
  border: 1px dashed lightgray;
}

.preview_field_field {
  float: left;
}

.preview_field_nav {
  float: right;
}

.add_btn {
  background-color: #6a6;
}

.add_btn:hover {
  background-color: green;
}

#submit_btn {
  margin: 5px 0;
}

.settings_field {
  margin-bottom: 10px;
}

.field_options_settings {
  table {
    width: 100%;
    border: 1px solid gray;
    padding: 5px;
  }

  th, tr, td {
    border: 0;
    padding: 0;
    margin: 0;
  }

  th {
    font-weight: normal;
  }

  input {
    width: 120px;
  }
}