/* Reset styles */
html, body, div, span, section, header, footer, nav, ul, li,
h1, h2, h3, h4, h5, h6, p, a, img, table, th, tr, td,
button, form, label, input, textarea, select, option {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

html, body, div, span, section, header, footer, nav,
h1, h2, h3, h4, h5, h6, ul, li, p, a, img, table, th, tr, td {
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}



/* Clearfix */

.group:after {
  clear: both;
  content: "";
  display: block;
}



/* Styles */

body {
	font-family: sans-serif;
  font-size: 12pt;
	background-color: lightgray;
}

.app_name {
	font-variant: small-caps;
}

#content {
	background-color: white;
	min-height: 400px;
	width: 960px;
	margin: auto;
	padding: 0px 20px 20px 20px;
	border-style: solid;
	border-color: gray;
	border-width: 0 1px 1px 1px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}

h2, h3, h4, h5, h6 {
	padding: 20px 0;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 16pt;
}

h6 {
  font-size: 14pt;
}

#flash_list {
	font-weight: bold;
}

p {
	margin: 10px 0;
}

a:link {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

.group > .button_to, .group > button {
  float: left;
  margin-left: 20px;
}

.group > .button_to:first-child, .group > button:first-child {
  margin-left: 0px;
}

.button_to {
	margin: 10px 0px;
}

input[type=submit], button {
  min-width: 100px;
	height: 30px;
	padding: 5px 10px;
	border: 0;
	border-radius: 5px;
	background-color: #37f;
  box-shadow: -1px 1px 1px 0 #444;
	color: white;
}

input[type=submit]:hover, button:hover {
	background-color: #04f;
}

input[type=submit].small_btn, button.small_btn {
	min-width: 0;
  height: 30px;
	width: 30px;
	padding: 0;
	border-radius: 15px;
  font-weight: bold;
}

input[type=submit].small_btn.delete_btn {
	background-color: #f88;
}

input[type=submit].small_btn.delete_btn:hover {
	background-color: red;
}

/* Tables */

table {
  border: 1px solid black;

  th, td {
  	border: 1px solid black;
  	padding: 5px;
  }

  .button_to {
  	margin: 0;
  }
}


