<h2>Change Password</h2>

<form action="<%= user_url(@user) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <p>
    <label>Current Password*:<br>
      <input type="password" name="current_password">
    </label>
  </p>

  <p>
    <label>Password*:<br>
      <input type="password" name="user[password]">
    </label>
  </p>

  <p>
    <label>Confirm Password*:<br>
      <input type="password" name="user[password_confirmation]">
    </label>
  </p>

  <p>
    <input type="submit" value="Update">
  </p>

  <p>
    <%= link_to "Cancel", user_url(@user) %>
  </p>
</form>