<h2>Forgot Password</h2>

<p>Enter your email address to begin the account recovery process.</p>

<form action="<%= send_recovery_email_users_url %>" method="post">
  <%= render "shared/csrf" %>

  <p>
    <label>Email*:<br>
      <input type="email" name="user[email]">
    </label>
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<p>
  <%= link_to "Cancel", signin_url %>
</p>