<h2>Reset Password</h2>

<form action="<%= user_url(@user) %>" method="post">
  <%= render "shared/csrf" %>

  <input type="hidden" name="_method" value="put">

  <p>
    <label>Password*:<br>
      <input type="password" name="user[password]">
    </label>
  </p>

  <p>
    <label>Confirm Password*:<br>
      <input type="password" name="user[password_confirmation]">
    </label>
  </p>

  <p>
    <input type="submit" value="Reset Password">
  </p>
</form>

<p>
  <%= link_to "Cancel", signin_url %>
</p>