<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Submitted</Data></Cell>
        <% form.fields.order(:pos).each do |field| %>
          <Cell><Data ss:Type="String"><%= field.name.split(' ').map(&:capitalize).join(' ') %></Data></Cell>
        <% end %>
      </Row>
    <% form.responses.order(:created_at).each do |response| %>
      <Row>
        <Cell><Data ss:Type="String"><%= (response.read ? "Read" : "Unread") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= response.created_at.to_date %></Data></Cell>
        <% form.fields.order(:pos).each do |field| %>
          <Cell><Data ss:Type="String"><%= response.field_data.find_by_field_id(field.id).value %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>