<form id="field_settings_form">
  <% settingsFields.each(function(field) { %>
    <div class="settings_field" data-name="<%= field.get('name') %>">
      <%= JST["fields/types/" + field.get('field_type')]({field: field}) %>
    </div>
  <% }); %>

  <% if (field.get('field_options').length > 0) { %>
    <%= JST["form_editors/editor/field_settings/field_options"]({field_options: field.get('field_options')}) %>
  <% } %>

  <button id="update_settings_btn">Update</button>
</form>