<% var tabs = ["add_field", "field_settings", "form_settings"]; %>
<% var tabNames = ["Add Field", "Field Settings", "Form Settings"]; %>

<% for (var i=0; i<tabs.length; i++) { %>
  <a href="#" class="editor_tab" data-tab="<%= tabs[i] %>">
  	<%= tabNames[i] %>
  </a>
<% } %>