<div id="editor_window">
    <%= JST["form_editors/editor/tabs"]({}) %>

    <div id="editor_view">
      <!-- editorview -->
    </div>
  </div>

  <div id="preview_window">
  	<div>
	    <h2><%= form.get("title") %></h2>
  	</div>

    <form>
    	<!-- fieldslot -->

      <!-- each field -->
      	<!-- preview field -->
        <!-- fieldslot -->
      <!-- end -->
    </form>

    <button id="submit_btn">Submit</button>
  </div>