<div id="editor_window">
  <%= JST["form_editors/editor/tabs"]({}) %>

  <div id="editor_view">
    <!-- editorview -->
  </div>
</div>

<div id="preview_window">
  <%= JST["form_editors/preview"]({ form: form }) %>
</div>