<div>
  <h2><%= form.get("title") %></h2>
</div>

<form id="preview_form">
  <% form.get("fields").each(function(field) { %>
  	<%= JST["form_editors/preview/field_slot"]({ pos: field.get("pos") }) %>
    <%= JST["form_editors/preview/preview_field"]({ field: field }) %>
  <% }); %>

  <%= JST["form_editors/preview/field_slot"]({ pos: form.get("fields").length }) %>
</form>

<button id="submit_btn">Submit</button>