<div class="preview_field group draggable" data-pos="<%= pos %>">
  <span class="preview_field_field">
  	<%= JST["fields/types/" + field.get('field_type')]({ field: field }) %>
  </span>

  <nav class="preview_field_nav group">
  	<button class="preview_field_btn delete_field_btn">X</button>
  </nav>
</div>