<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Responses to your form, '<%= @form.title%>'</h1>
    <p>Hi, <%= @user.username %>!</p>
    <p>Here are the responses to the form you built on FormCraft, '<%= @form.title %>'.</p>
    <p>You'll find the responses attached to this email as CSV and Excel spreadsheet files.</p>
    <p>Thanks for using FormCraft and have a great day!</p>
  </body>
</html>
