<div class="field_type group">
	<span class="field_type_field">
    <%= JST["fields/types/" + field.get('field_type')]({ field: field }) %>
  </span>

  <nav class="field_type_nav">
  	<button class="field_type_btn"%>+</button>
  	<button class="field_type_btn" %>?</button>
  </nav>
</div>